body {
    margin: 0;
    background-color:rgb(4, 30, 36);
    color: black;
    text-align: center;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Gotu', sans-serif; */
    font-family: 'Sen', sans-serif;
}