#board-outer-border {
    width: 600px;
    height: 600px;
    margin: 5% auto;
    background-color: #325bff;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0.5px black;
}

#board-inner-border  {
    text-align: center;
    margin: 20.5px;
    font-size: 50px;
    width: 560px;
    height: 560px;
    box-shadow: 0px 0px 24px 2px rgb(11, 35, 140);
}

.square {
    width: 69.8px;
    height: 69.8px;
    float: left;
    border: 0.1px solid black;
}

.clicked {
    width: 65.9px;
    height: 65.9px;
    padding: 0px;
    border: 2px solid yellow;
}

#board-inner-border div:nth-child(-2n+8), 
#board-inner-border div:nth-child(8) ~ div:nth-child(-2n+15), 
#board-inner-border div:nth-child(16) ~ div:nth-child(-2n+24), 
#board-inner-border div:nth-child(24) ~ div:nth-child(-2n+31), 
#board-inner-border div:nth-child(32) ~ div:nth-child(-2n+40), 
#board-inner-border div:nth-child(40) ~ div:nth-child(-2n+47), 
#board-inner-border div:nth-child(48) ~ div:nth-child(-2n+56), 
#board-inner-border div:nth-child(56) ~ div:nth-child(-2n+63) {
    background-color: rgb(102, 160, 204);
}
#board-inner-border div:nth-child(-2n+7), 
#board-inner-border div:nth-child(8) ~ div:nth-child(-2n+16), 
#board-inner-border div:nth-child(16) ~ div:nth-child(-2n+23), 
#board-inner-border div:nth-child(24) ~ div:nth-child(-2n+32), 
#board-inner-border div:nth-child(32) ~ div:nth-child(-2n+39), 
#board-inner-border div:nth-child(40) ~ div:nth-child(-2n+48), 
#board-inner-border div:nth-child(48) ~ div:nth-child(-2n+55), 
#board-inner-border div:nth-child(56) ~ div:nth-child(-2n+64) {
    background-color: white;
}